<p>
Hi <%= @user.name %>,

Please click the link below to reset your password.

This email and any information transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed.
If you have received this email in error, please delete it from your system.
</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token, email: @user.email) %>

