<%= provide(:title, "Community") %>
<h1>Community</h1>

<ul class="users">
  <li>
    <% @users.each do |user| %>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
    <% end %>
  </li>
</ul>
