<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <% if object.errors.count == 1 %>
        Please correct the error below
      <% else %>
        Please correct the  <%= pluralize(object.errors.count, "error") %> below.
      <% end %>
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
